<ion-header>
  <ion-toolbar color="light">
    <ion-button color="light" class="backBtn" routerLink="/home" slot="start">
      Back <ion-icon name="arrow-undo-circle-outline"></ion-icon>
    </ion-button>
    <ion-title color="dark">Projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="projCont">
    <ion-card href="https://www.getloke.com/skate-spots" color="light">
      <div class="imgCont">
        <img src="../../assets/images/lokedemo.gif" />
      </div>
      <ion-card-header>
        <ion-card-title>Loke Skateboarding Spot App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Increased application scalability by: <br />
        - completing geoJson data conversion,<br />
        - Implemented mapbox spotclustering for over 20,000 skate spots accross
        the globe.<br />
        - Data filtering allowing for robust search functionality. <br />
        - Implemention of an SVG loading indicator animation. <br />- Search by
        address feature.<br />
        - GeoLocate users functionality.<br />
        - Link spot details pages.
      </ion-card-content>
    </ion-card>

    <ion-card
      href="https://in-info-web4.informatics.iupui.edu/~rushjs/n413/n413_litTabs/"
      color="light"
    >
      <img src="../../assets/images/littabs.png" />
      <ion-card-header>
        <ion-card-title>
          LitTabs
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Digital Download Ecommerce application in PHP codeigniter 3.0.
        <br />
        Micro-service: Stripe
      </ion-card-content>
    </ion-card>
    <br />
    <ion-card href="https://powerful-river-53047.herokuapp.com/" color="light">
      <img src="../../assets/images/letsgo.png" />
      <ion-card-header>
        <ion-card-title>
          Haunted Kitchen
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Three.js Application depicting a haunted kitchen scene. Bunder: webpack
      </ion-card-content>
    </ion-card>
    <ion-card href="https://frozen-falls-11978.herokuapp.com/" color="light">
      <img src="../../assets/images/gal.png" />
      <ion-card-header>
        <ion-card-title>
          Galaxy Generator
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Three.js Galaxy prototyping application using dat.gui and three.js
        particle systems. dat.gui sliders allow for easy user customizations.
        Select size of the particles, add additional branches, change colors and
        more. Bunder: webpack
      </ion-card-content>
    </ion-card>
    <ion-card href="https://lit-chamber-58106.herokuapp.com/" color="light">
      <img src="../../assets/images/ar.png" />
      <ion-card-header>
        <ion-card-title>
          Augmented Reality Star-Field
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Generate a starfield in your room. See the power of WebXR on your
        Android device through the ARCore technology. This project uses
        Three.js, and WebXR to create this expirence. If you would like to view
        on a ios device, you may download
        <a href="https://apps.apple.com/us/app/webxr-viewer/id1295998056"
          >The Mozilla WebXR Viewer</a
        >
        and paste the site url. Bunder: webpack
      </ion-card-content>
    </ion-card>

    <ion-card
      href="https://infinite-headland-17851.herokuapp.com/"
      color="light"
    >
      <img src="../../assets/images/portvr.gif" />
      <ion-card-header>
        <ion-card-title>
          Virtual Reality Star-Field
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Own a virtual reality headset? Load the site url in your headset browser
        and expirence the immersive starfield expirence though the webXR api.
        Three.js, webpack and webXR are used to create this expirence.
      </ion-card-content>
    </ion-card>

    <ion-card
      href="https://in-info-web4.informatics.iupui.edu/~rushjs/n322H2/home"
      color="light"
    >
      <img src="../../assets/images/meals.png" />
      <ion-card-header>
        <ion-card-title>
          Recipe Generator
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        PWA application - ionic Angular. <br />
        Generatates a random recipe from theMealDB API.
        <br />
      </ion-card-content>
    </ion-card>

    <ion-card
      href="https://in-info-web4.informatics.iupui.edu/~rushjs/ionFireMap/"
      color="light"
    >
      <img src="../../assets/images/Screen Shot 2020-12-09 at 5.54.49 PM.png" />
      <ion-card-header>
        <ion-card-title>ionFireMap</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        PWA Application - Ionic Angular <br />
        leaflet blog inspired CRUD application. Firebase Authentication along
        with firestore nested collections.
      </ion-card-content>
    </ion-card>

    <ion-card
      href="https://in-info-web4.informatics.iupui.edu/~rushjs/ionFireTennis/"
      color="light"
    >
      <img src="../../assets/images/tennis.png" />
      <ion-card-header>
        <ion-card-title>ionFireTennis</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        PWA Application - Ionic Angular <br />
        tennis inspired social media application. Firebase Authentication,
        Firestore and Firestorage.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
