<ion-header>
  <ion-toolbar color="light">
    <ion-button color="light" class="backBtn" routerLink="/home" slot="start">
      Back <ion-icon name="arrow-undo-circle-outline"></ion-icon>
    </ion-button>
    <ion-title color="dark">Projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-title class="projCont">
    <ion-card (click)="goLoke()" color="light" class="isCard" id="lokeAnim">
      <div class="innerTrans">
        <div class="imgCont">
          <img src="../../assets/images/lokedemo.gif" />
        </div>
        <ion-card-header>
          <ion-card-title>Loke Skateboarding Spot App</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="location-outline"></ion-icon>
          <br />
          Mapbox
          <br />
          <br />
          Increased application scalability by: <br />
          - Completing geoJSON data conversion.<br />
          - Implemented mapbox spotclustering for 20,000+ skate spots
          internationally.<br />
          - Data filtering allowing for robust search functionality. <br />
          - Implementation of an SVG loading indicator animation. <br />- Search
          by address feature.<br />
          - GeoLocate users functionality.<br />
          - Link spot details pages.
        </ion-card-content>
      </div>
    </ion-card>

    <ion-card (click)="goLit()" color="light" class="isCard" id="litAnim">
      <div class="innerTrans">
        <img src="../../assets/images/littabs.png" />
        <ion-card-header>
          <ion-card-title>
            LitTabs
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="card-outline"></ion-icon>
          <br />
          PHP - Codeigniter 3.0 - MySQL- Bootstrap
          <br />
          <br />
          Digital download E-Commerce application for guitar tabs(PDF),
          featuring user authentication as well as Stripe integration for
          payment processing.
          <br />
          <br />
          <!--  <i>
          Card Information for testing:
          <br />
          Name: Test
          <br />Card Number: 4242 4242 4242 4242 <br />CSV: 123 <br />Month: 12
          <br />
          Year: 2024
          <br />
          <br />
        </i> -->
          Micro-service: Stripe.
        </ion-card-content>
      </div>
    </ion-card>

    <ion-card (click)="goGalaxy()" color="light" class="isCard" id="gAnim1">
      <div class="innerTrans">
        <img src="../../assets/images/gal.png" />
        <ion-card-header>
          <ion-card-title>
            Galaxy Generator
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="logo-nodejs"></ion-icon> <br />
          Node.js - Express - Three.js <br />
          <br />
          Three.js galaxy prototyping application using dat.gui and three.js
          particle systems. dat.gui sliders allow for easy user customizations.
          Select size of the particles, add additional branches, change colors
          and more.
          <br />
          <br />
          Bundler: Webpack.
        </ion-card-content>
      </div>
    </ion-card>

    <br />

    <ion-card
      (click)="goSideQuest()"
      color="light"
      class="isCard"
      id="sideQuestAnim"
    >
      <div class="innerTrans">
        <img src="../../assets/images/PreviewImg.jpg" />
        <img src="../../assets/images/PImg2Vr.jpg" />

        <ion-card-header>
          <ion-card-title>
            Riley Kitchen Cook
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="game-controller-outline"></ion-icon>
          <br />
          Unity - XR Interaction Toolkit - Oculus Quest 2
          <br />
          <br />
          Virtual reality game in association with Riley Children's Hospital. As
          part of a 4 person team, we were tasked to create an immersive
          physical therapy prototype for patients at the hospital. I served as
          the game programmer and Unity developer on this awesome experience.
        </ion-card-content>
      </div>
    </ion-card>
    <ion-card color="light" id="weatherAnim1">
      <div class="weatherImg">
        <img src="../../assets/images/fourthApp.png" />
      </div>
      <ion-card-header>
        <ion-card-title>iOS Weather Application</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="logo-apple"></ion-icon>
        <br />

        Mobile - iOS - Swift. <br />
        <br />
        This is a mobile iOS application built using Swift. It features device
        location using CoreLocation, API request with AlamoFire, parsing JSON
        data using SwiftyJSON and lastly, a loading indicator using
        NVActivityIndicatorView.
      </ion-card-content>
    </ion-card>
    <ion-card
      color="light"
      (click)="goCoffeeBreak()"
      class="isCard"
      id="cbAnim"
    >
      <div class="innerTrans">
        <ion-slides pager>
          <ion-slide>
            <img src="../../assets/images/cbforPort1.gif" />
          </ion-slide>

          <ion-slide>
            <img src="../../assets/images/cb2.png" />
          </ion-slide>
        </ion-slides>

        <ion-card-header>
          <ion-card-title>Coffee Break</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="compass-outline"></ion-icon>
          <ion-icon name="logo-apple"></ion-icon>
          <ion-icon name="logo-android"></ion-icon>
          <br />
          ARFoundation - Unity.

          <br />
          <br />
          This is a GPS location-based augmented reality game using Mapbox,
          alongside ARFoundation in Unity. Open the map to see where respective
          points of interest are (donuts). Upon colliding with a point of
          interest in real life, you will be prompted to start the AR Coffee
          Break Game! The game requires the user to scan the ground for plane
          detection, then dounts begin to rain down from a cloud with particles.
          The user runs around within the area attempting to catch the falling
          donuts.
        </ion-card-content>
      </div>
    </ion-card>

    <ion-card
      (click)="goKitchen()"
      color="light"
      class="isCard"
      id="kitchenAnim"
    >
      <ion-slides pager>
        <ion-slide>
          <img src="../../assets/images/letsgo.png" />
        </ion-slide>
        <ion-slide>
          <img src="../../assets/images/kitchenDemo1.gif" />
        </ion-slide>
      </ion-slides>

      <ion-card-header>
        <ion-card-title>
          Haunted Kitchen
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="logo-nodejs"></ion-icon> <br />
        Node.js - Express - Three.js <br />
        <br />
        Three.js Application depicting a haunted kitchen scene. Lights flicker
        using specified timeouts. Additionally, the ghosts (lights) periodically
        float above/below the floor following a sine-wave pattern.
        <br />
        <br />
        Bundler: Webpack.
      </ion-card-content>
    </ion-card>
    <ion-card (click)="goARStar()" color="light" class="isCard" id="ARStarAnim">
      <ion-slides pager>
        <ion-slide>
          <img src="../../assets/images/arimg3.jpg" />
        </ion-slide>
        <ion-slide>
          <img src="../../assets/images/ardemo2.gif" />
        </ion-slide>
      </ion-slides>

      <ion-card-header>
        <ion-card-title>
          Augmented Reality Starfield
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="logo-nodejs"></ion-icon>
        <ion-icon name="logo-android"></ion-icon>
        <ion-icon name="logo-apple"></ion-icon> <br />
        Node.js - Express - Three.js <br />
        <br />
        Generate a starfield in your room. See the power of webXR on your
        Android device through the ARCore technology. This project uses Three.js
        and webXR to create this expirence. If you would like to view on a iOS
        device, you may download
        <a href="https://apps.apple.com/us/app/webxr-viewer/id1295998056"
          >The Mozilla WebXR Viewer</a
        >
        and paste the site url.
        <br />
        <br />
        Bundler: Webpack.
      </ion-card-content>
    </ion-card>

    <ion-card (click)="goVRStar()" color="light" class="isCard" id="VRStarAnim">
      <img src="../../assets/images/portvr.gif" />
      <ion-card-header>
        <ion-card-title>
          Virtual Reality Starfield
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="logo-nodejs"></ion-icon> <br />
        Node.js - Express - Three.js <br />
        <br />
        Own a virtual reality headset? Load the site url in your headset browser
        and expirence the immersive starfield expirence though the webXR API.
        Three.js and webXR are used to create this expirence.
        <br />
        <br />
        Bundler: Webpack.
      </ion-card-content>
    </ion-card>

    <ion-card (click)="goRecipe()" color="light" class="isCard">
      <img src="../../assets/images/meals.png" />
      <ion-card-header>
        <ion-card-title>
          Recipe Generator
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="logo-angular"></ion-icon>
        <ion-icon name="logo-pwa"></ion-icon><br />
        PWA application - Ionic Angular.<br />
        <br />
        Generatates a random recipe from theMealDB API.
        <br />
      </ion-card-content>
    </ion-card>

    <ion-card (click)="goIonFire()" color="light" class="isCard">
      <img src="../../assets/images/Screen Shot 2020-12-09 at 5.54.49 PM.png" />
      <ion-card-header>
        <ion-card-title>ionFireMap</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="logo-angular"></ion-icon>
        <ion-icon name="logo-pwa"></ion-icon> <br />
        PWA Application - Ionic Angular. <br />
        <br />
        Leaflet blog inspired CRUD application, using Firebase Authentication
        alongside firestore nested collections.
      </ion-card-content>
    </ion-card>

    <ion-card (click)="goIonTennis()" color="light" class="isCard">
      <img src="../../assets/images/tennis.png" />
      <ion-card-header>
        <ion-card-title>ionFireTennis</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="logo-angular"></ion-icon>
        <ion-icon name="logo-pwa"></ion-icon> <br />
        PWA Application - Ionic Angular.<br />
        <br />

        Tennis inspired social media application using Firebase authentication,
        firestore and firestorage.
      </ion-card-content>
    </ion-card>
    <ion-card (click)="goWeather()" color="light" class="isCard">
      <img src="../../assets/images/weatherWeb1.png" />
      <ion-card-header>
        <ion-card-title>Weather Site</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="logo-nodejs"></ion-icon> <br />
        Node.js - Express - SASS <br />
        <br />

        This site takes a zipcode and displays weather information using the
        weatherapi.com API.
      </ion-card-content>
    </ion-card>
    <ion-card (click)="goDBJ()" color="light" class="isCard">
      <img src="../../assets/images/DBJ.png" />
      <ion-card-header>
        <ion-card-title>DesignsByJarrett</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="card-outline"></ion-icon> <br />
        Shopify <br />
        <br />

        Shopify site for personalized clothing designs.
      </ion-card-content>
    </ion-card>
    <ion-card (click)="goRedGif()" color="light" class="isCard">
      <ion-slides pager>
        <ion-slide>
          <img src="../../assets/images/redGifDemo.gif" />
        </ion-slide>
        <ion-slide>
          <img src="../../assets/images/redDemo2.gif" />
        </ion-slide>
      </ion-slides>

      <ion-card-header>
        <ion-card-title>RedditGifs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="logo-angular"></ion-icon>
        <ion-icon name="logo-pwa"></ion-icon> <br />
        PWA Application - Ionic Angular.<br />
        <br />

        RedditGifs is an application that pulls gifs from a Reddit thread using
        the Reddit API. By default it uses the "populargifs" subreddit, however
        another fun subreddit to search for is "perfectloops". Tap the video to
        start/stop the gif.
      </ion-card-content>
    </ion-card>
  </ion-card-title>
</ion-content>
